# Don't store compiled versions of python scripts
**/__pycache__/
# ignore the demo
demo.py
# ignore data file for the MNIST data used in the demo
GenCFD/datasets
# ignore metadata since this is private lab specific information
GenCFD/dataloader/metadata.py
# ignore outputs where the model is stored
GenCFD/outputs
# ignore visualization where the visualization results and further analysis is stored
GenCFD/visualize
# ignore the dataset folder, data can be stored here
GenCFD/dataloader/test.py
GenCFD/dataloader/dataset_test.py
# ignore test file
GenCFD/eval/metrics/probabilistic_forecast_test.py
GenCFD/eval/metrics/leray_projection_test.py
# ignore all test files
GenCFD/utils/dataloader_utils_test.py
GenCFD/utils/model_utils_test.py
GenCFD/utils/reshape_utils_test.py
GenCFD/utils/train_utils_test.py
GenCFD/train/train_states_test.py
GenCFD/train/trainers_test.py
GenCFD/train/training_loop_test.py
GenCFD/solvers/sde_test.py
GenCFD/model/building_blocks/blocks/test_all_blocks.py
GenCFD/model/building_blocks/embeddings/test_embeddings.py
GenCFD/model/building_blocks/layers/axial_attention_test.py
GenCFD/model/building_blocks/layers/convolutions_test.py
GenCFD/model/building_blocks/layers/multihead_attention_test.py
GenCFD/model/building_blocks/layers/residual_test.py
GenCFD/model/building_blocks/layers/resize_test.py
GenCFD/model/building_blocks/stacks/test_stacks.py
GenCFD/model/building_blocks/unets/unets_test.py
GenCFD/model/building_blocks/unets/unets3d_test.py
GenCFD/model/probabilistic_diffusion/test_models.py
GenCFD/diffusion/diffusion_test.py
GenCFD/diffusion/guidance_test.py
GenCFD/diffusion/samplers_test.py
GenCFD/diffusion/schedulers_test.py
# ignore scaling stduy
GenCFD/scaling_study
# ignore all job scripts
*.sh
# ignore all image files
**/*.jpg
**/*.npz
**/*.png
# ignore colab checkpoints and test function
colab/checkpoints
colab/test.py